<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!--The content below is only a placeholder and can be replaced.-->

    <h1>{{title}}</h1>
    <input (click)="showNews()" id='apply-filters' type='button' value='show selected sources' />
    <div id='main-menu'>
    </div>
    <div id='news-container'>Please Select Sources</div>

<router-outlet></router-outlet>
<app-articles></app-articles>
